@font-face {
    font-family: 'sign';
    src: url(fonts/Signatrue.ttf);
}

@font-face {
    font-family: 'chris';
    src: url(fonts/Christmas-BF678a7c250c4f7.otf);
}

@font-face {
    font-family: 'blackout';
    src: url(fonts/BlackoutOldskull.ttf);
}

@font-face {
    font-family: memph;
    src: url(fonts/Memphis\ River.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #d0f8ec;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.homepage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(15px);
}

.homepage::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    z-index: -1;
}

.homepage::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.5s;
}

.logo{
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px white, 6px 6px 9px black;
    text-decoration: none;
    font-weight: 700;
}

.logo span {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    font-family: 'memph' , serif;
}

.logo span:nth-child(1) {
    animation-delay: 0.15s;
    color: navy;
}

.logo span:nth-child(2) {
    animation-delay: 0.9s;
}

.logo span:nth-child(3) {
    animation-delay: 0.3s;
}

.logo span:nth-child(4) {
    animation-delay: 0;
}

.logo span:nth-child(5) {
    animation-delay: 0.05s;
}

.logo span:nth-child(6) {
    animation-delay: 0.6s;
}

.logo span:nth-child(7) {
    animation-delay: 0.45s;
}

.logo span:nth-child(8) {
    animation-delay: 0.7s;
}

.logo span:nth-child(9) {
    animation-delay: 0.9s;
}

.logo:hover span {
    opacity: 1;
    animation-name: fadeout;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

/*logo animation*/
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar a{
    font-size: 1,15rem;
    color: white;
    text-decoration: none;
    text-shadow: 4px 4px 4px black;
    margin-left: 2.5rem;
    position: relative;
    list-style: none;
    font-weight: 500;
}

.navbar a::after {
    content: '';
    width: 0;
    height: 3px;
    background: navy;
    position: absolute;
    left: 50%;
    bottom: -6px;
    transition: 0.5s;
}

.navbar a:hover {
    color: #d0f8ec;
    text-shadow: 0 0 3px navy;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
}

#check{
    display: none;
}

.icons{
    font-size: 2rem;
    right: 5%;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    transition: scale 0.2 ease ;
}

.icons:hover{
    scale: 1.05;
    color: #d0f8ec;
    text-shadow: 0 0 3px navy;
}


/*breakpoints*/
@media (max-width: 992px) {
    .home {
        padding: 1.3rem 5%;
    }

     .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

     #check:checked~.icons #close-icon {
          display: block;
     }

    .navbar {
        position: absolute;
        top: 60px;
        right: 2rem;
        width: 240px;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(100px);
        box-shadow: 0 1rem 1rex rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
        text-shadow: none;
        border-radius: 10px;
    }

     #check:checked~.navbar {
        height: 17.7rem;
     }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
        opacity: 0;
        text-shadow: none;
    }

     #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(0.15s * var(--i));
        opacity: 1;
     }

    .navbar a::after{
        display: none;
    }

    .navbar a:hover {
        content: ' ';
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        scale: 0.9 ;
        justify-content: center;
        text-shadow: 0 0 5px black;
        box-shadow: 0 0 3px black;
    }

     .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .icons{
        display: inline-flex;
    }
    
     .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

     #check:checked~.icons #close-icon {
          display: block;
     }

    .navbar {
        position: absolute;
        top: 100%;
        left: 2rem;
        width: unset;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rex rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
        text-shadow: none;
        border-radius: 10px;
    }

     #check:checked~.navbar {
        height: 17.7rem;
     }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
        opacity: 0;
        text-shadow: none;
    }


     #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(0.15s * var(--i));
        opacity: 1;
     }

    .navbar a::after{
        display: none;
    }

    .navbar a:hover {
        content: '';
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        scale: 0.9 ;
        justify-content: center;
        box-shadow: 0 0 3px black;
        text-shadow: 0 0 5px black;
    }

     .tab-titles ul li a{
        display: block;
     }

     .tab-titles ul li a:hover::after {
        display: none;
     }
}

/*transpaent home tag*/
#home {
     color: transparent;
    margin-bottom: 90px;
 
}

/*header text*/
.header {
    margin-top: 30px;
    font-size: 1.5rem;
    padding-left: 50px;
}

.header h1 {
    font-size: 55px;
    color: palegoldenrod;
    text-shadow:0 0 6px white, 1px 1px 5px black;
    margin-bottom: 30px;
    font-family: 'blackout';
    font-weight: 100;
}

.header p {
    font-size: 25px;
    color: #000000;
    text-shadow: 0 0 6px white, 1px 1px 5px black; 
    font-family: 'chris' , serif;
}

.auto-typed {
    color: navy;
    width: 100%;
    white-space: pre-line;
    line-height: 1em;
    overflow: hidden;
    animation: typing 4s steps(7);
    cursor: 4s step-end infinite;
    animation-iteration-count: infinite;
    font-family: 'memph' , serif;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}


#hobby {
    color: navy;
    font-family: 'memph', serif;
}

#hobby:after {
    content: " ";
    animation: animate 12s ease-in-out infinite;
}

@keyframes animate {
    0% {
        content: "a Content-Creator 📷";
    }

    25% {
        content: "a Lover of the Arts 🎨 🍸";
    }

    50% {
        content: "a bit of a Gamer 🎮";
    }

    75% {
        content: "a Travel Enthusiast ✈️ 🌎";
    }

    100% {
        content: "a Book Worm 📚";
    }
}

/*svg div borders*/
#svg1 {
    display: block;
    width: 100%;
}

/*----------about---------*/
.about {
    padding-bottom: 30px;
    background-color: papayawhip;
}


    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #about{
        margin-bottom: 30px;
        color: transparent;
        text-align: center;
    }

    .about-col-1 {
        flex-basis: 35%;
        margin-top: 7%;
    }

    .about-col-1 img {
        width: 100%;
        border-radius: 15px;
    }

    .about-col-1 h1{
        text-align: center;
        color: tan;
        padding-left: 30px;
        text-shadow: 2px 2px 4px black;
        font-family: 'Times New Roman', Times, serif;
    }

    .about-col-2 {
        flex-basis: 60%;
        color: #000000;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
        margin-top: 7%;
    }


.sub-title {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: navy;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    text-shadow: 2px 2px 4px #000000;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.about-col-2 p {
    padding-top: 30px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

#p1 {
    color: #ffd700;
}

#p2 {
    color: navy;
}

.tab-titles ul li {
    display: inline;
    list-style: none;
    margin: 10px 20px;
    padding-bottom: 20px;
    text-align: center;
}

.tab-titles ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    transition: scale 0.2 ease-in-out;
}

.tab-titles ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: navy;
    position: absolute;
    left: 50%;
    bottom: 12px;
    transition: 0.5s;
}

.tab-titles ul li a:hover::after {
    width: 100%;
    left: 0;
}

.tab-titles ul li a:hover {
    color: #d0f8ec;
    scale: 1.1;
    color: #d0f8ec;
    text-shadow: 2px 2px 4px navy;
}

/*contact button*/
.con_btn {
    display: flex;
    background-color: tan;
    color: papayawhip;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: scale ease-in-out;
    transition: delay 0.5s;
    width: 120px;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    text-decoration: none;
}

.con_btn:hover {
    scale: 1.1;
    color: papayawhip;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 5px black;
}

.svg{
    background-color: tan;
    display: block;
    }

    .tab-col-1 {
        flex-basis: 40%;
        margin-top: 7%;
    }

    .tab-col-2 {
        flex-basis: 50%;
        margin-top: 7%;
    }

    .tab-links {
        list-style: none;
        text-align: left;
        margin-left: 30px;
        color: navy;
        font-size: 25px;
        margin: 1.5rem;
        cursor: pointer;
        justify-content: left;
        font-family: 'Times New Roman', Times, serif;
    }


    .tab-contents {
        font-size: 16px;
        color: papayawhip;
        text-align: left;
        margin-left: 30px;
        margin: 1.5rem;
        cursor: pointer;
        list-style: none;
    }

.tools {
    color: papayawhip;
    list-style: none;
    display: inline;
    font-size: 3.5rem;
    margin: 5px 5px;
}

.tools p {
    color: papayawhip;
    font-size: 16px;
   text-align: center;
    list-style: none;
}

/*slide in animations*/
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;

}

.hidden.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(70%);
    transition: all 1.5s;

}

.hidden2.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/*Certificate and cv btns*/
.cert_cv {
    list-style: none;
    display: flex;
}

.cert_btn {
    display: flex;
    background-color: papayawhip;
    margin-right: 20px;
    color: tan;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: scale ease-in-out;
    transition: delay 0.5s;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cv_btn {
    display: flex;
    background-color: papayawhip;
    color: tan;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: scale ease-in-out;
    transition: delay 0.5s;
    width: 120px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cert_btn:hover {
    scale: 1.1;
    color: tan;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 5px black;
    transition-duration: 1s;
}

.cv_btn:hover {
    scale: 1.1;
    color: tan;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 5px black;
    transition-duration: 1s;
}

.exp p span {
    color: #000000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.serv-up {
    background-color: papayawhip;
}

/*services*/
.services {
    background-color: papayawhip;
    padding: 0;
}

#services {
    margin-bottom: 70px;
    color: transparent;
    text-align: center;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.services-list div:nth-child(1) {
    transition-delay: 0.1s;
}

.services-list div:nth-child(2) {
    transition-delay: 0.3s;
}

.services-list div:nth-child(3) {
    transition-delay: 0.5s;
}

.services-list div:nth-child(4) {
    transition-delay: 0.7s;
}

.services-list div {
    background-color: tan;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 30px;
   padding-bottom: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.2 ease-in-out;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 15px
    
}

.services-list div:hover {
    transform: translateY(-20px);
    color: papayawhip;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 5px black;
    transition-duration: 1s;
}

.learn_btn {
    display: flex;
        background-color: papayawhip;
        margin-right: 20px;
        margin-top: 30px;
        color: tan;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 30px;
        font-size: 0.8rem;
        cursor: pointer;
        font-weight: bold;
        transition: scale 0.5 ease-in-out;
        transition: delay 0.5s;
        width: 120px;
        justify-content: center;
        text-decoration: none;
        align-items: center;
    }

        .learn_btn:hover {
            scale: 1.1;
            color: tan;
            text-shadow: 0 0 3px black;
            box-shadow: 0 0 5px black;
            transition-duration: 1s;
        }

        .sv2 {
            background-color: palegoldenrod;
        }

        /*portfolio*/
        #portfolio {
                color: transparent;
                text-align: center;
                margin-bottom: 70px;
        }

        .portfolio {
            background-color: palegoldenrod;
        }

        .work-list {
            display: grid;
             grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 30px;
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .work {
            border-radius: 10px;
            position: relative;
            overflow: hidden;
        }

        .work-list div:nth-child(1) {
            transition-delay: 0.1s;
        }

         .work-list div:nth-child(2) {
            transition-delay: 0.3s;
         }

         .work-list div:nth-child(3) {
            transition-delay: 0.5s;
         }
          
         .work-list div:nth-child(4) {
            transition-delay: 0.7s;
         }

        .work img{
            border-bottom: 20px;
            width: 270px;
            height: 220px;
            border-radius: 10px;
            display: block;
            transition: transform 0.5s;
            background: rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(15px);
        }

       .layer {
        width: 270px;
        height: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #d0f8ec);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 17px;
        transition: transform, height 0.5s ease-in;
       }

       .layer h3 {
        font-weight: 500;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
       }

       .layer a {
        margin-top: 20px;
        color: navy;
        text-decoration: none;
        font-size: 20px;
        line-height: 45px;
        background: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
       }

       .work:hover img{
            transform: scale(1.1);
       }
       
       .work:hover .layer{
            height: 100%;
            transform: scale(1.1);
            border-radius: 10px;

       }

     .see_btn {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    margin:50px auto;
    padding: 0.5rem 1rem;
    border: 2px solid linear-gradient(rgba(0, 0, 0, 0.6), #d0f8ec);
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: scale, ease-in-out;
    transition:  0.5s ease-in-out;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }

    .see_btn:hover {
        scale: 1.1;
       color: navy;
       box-shadow: 0 0 5px black;
        background: linear-gradient(rgba(0, 0, 0, 0.1), #d0f8ec);
    
    }

    .svg4 {
        background-color: #d0f8ec;
    }
    /*-----------contact-----------*/
    #contact {
        color: transparent;
        margin-bottom: 70px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contact-left {
        flex-basis: 35%;
    }

    .contact-left p {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
        color: black;
     }

   .social-icons {
        margin-left: 30px;
        margin-top: 30px;
    }

    .social-icons a {
        text-decoration: none;
        font-size: 30px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
        margin-bottom: 30px;
    }

    .social-icons a:hover {
        color: navy;
        transform: translateY(-5px);
    }

   .btt_btn {
       display: flex;
       margin-left: 30px;
       background-color: navy;
       color: #fff;
       padding: 0.5rem 1rem;
       border: none;
       border-radius: 6px;
       font-size: 0.8rem;
       cursor: pointer;
       font-weight: bold;
       transition: scale ease-in-out;
       transition: delay 0.5s;
       width: 120px;
       justify-content: center;
       align-items: center;
       transition-duration: 1s;
       text-decoration: none;
   }

   .btt_btn:hover {
       scale: 1.1;
       color: #d0f8ec;
       text-shadow: 0 0 3px black;
       box-shadow: 0 0 5px black;
   }

  .contact-right {
    flex-basis: 60%;
  }

  .contact-right form {
    width: 100%;
  }

  form input, form textarea {
    width: 100%;
    padding-right: 15px;
    border: 0;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
  }

  .sub_btn {
    background-color: navy;
    margin-right: 20px;
    margin-top: 30px;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: scale 0.5 ease-in-out;
    transition: delay 0.5s;
    width: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .sub_btn:hover {
    scale: 1.1;
    color: #d0f8ec;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 5px black;
    transition-duration: 1s;
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.1);
    font-weight: 300;
    margin-top: 20px;
}